@import '../../../modules/breakpoints';
@import 'breakpoint';

.region-footer-left p:nth-child(2) {
  @include breakpoint($tablet) {
    padding-left:1.5rem;
  }
  @include breakpoint($desktop) {
    padding-left:0rem;
  }
}
