// Western brand colors.
$wwu-blue: #003f87;
$wwu-light-blue: #007ac8;
$wwu-red: #cc2d30;
$wwu-yellow: #ffc61e;
$wwu-lime: #bad80a;
$wwu-green: #006b3f;

// Extended brand colors.
$wwu-gray-blue: rgb(219, 52, 61);
$wwu-ocean-blue: shade($wwu-light-blue, 13);
