body {
    @include breakpoint($desktop) {
    background-image: url(../images/snowy-trees-opacity.jpeg);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top right;
  }
}
