.front .wwu-100-percent-bottom {
    background-color: #e2f3ff;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-left: 10px;

  .panel-pane {
    display: flex;
    justify-content: center;
  }

  .pane-instagram-block-instagram-block {
      display: block;
      justify-content: center;
    }

  h2{
    color: $wwu-light-blue;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: $wwu-blue;
    position: absolute;
    left: 12px;
  }

  p {
    padding-top: 7em;
  }

  .instagram {
    background-image: url("../images/instagram-blue.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }
  .instagram:hover {
    background-image: url("../images/instagram-light-blue.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }

  .twitter {
    background-image: url("../images/twitter-blue.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }
  .twitter:hover {
    background-image: url("../images/twitter-light-blue.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }

  .facebook {
    background-image: url("../images/facebook-blue.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }

  .facebook:hover {
    background-image: url("../images/facebook-light-blue.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }

  .tumblr {
    background-image: url("../images/tumblr-blue.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }
  .tumblr:hover {
    background-image: url("../images/tumblr-light-blue.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }

  .instagram, .facebook, .tumblr, .twitter{
    margin: 60px;
    @include hide-text;
    display: block;
  }

  @include breakpoint($pair) {
    h2{
      text-align: center;
    }
  }

  @include breakpoint($connect-break) {
    .instagram, .facebook, .tumblr, .twitter {
      margin: 20px;
    }
    p {
      padding-top: 10em;
    }
  }

  @include breakpoint($connect-break2) {
    .instagram, .facebook, .tumblr, .twitter {
      margin: 40px;
    }
  }

  @include breakpoint($connect-mobile) {
    .panel-pane {
      display: inherit;
    }
    p{
      display: block;
      width: 100%;
      padding-top: 1em;
      text-align: center;
    }
    h2 {
      position: inherit;
      margin-left: 0px;
    }
    .instagram, .twitter, .facebook, .tumblr {
      margin: 0px;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
