// Styles for first row "Header/Title Block"
.front .wwu-100-percent-first-row {
  background-image: url("../images/top-of-mountain-optimized.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  .pane-custom {
    border: 0px;
  }

  h2 {
    color: $wwu-light-blue;
  }

  @include breakpoint($pair) {
    min-height: 30em;
    border: none;

    h2 {
      -webkit-text-stroke: transparent;
      text-align: center;
      margin-left: 0px;
      text-shadow: 4px 4px 20px white;
    }

  }

  @include breakpoint($desktop) {
    min-height: 36em;

    h2 {
      text-shadow: 4px 4px 20px white;
    }
  }
}
