// Styles for the fourth row
.front .wwu-60-percent-fourth-row {
  background-image: url("../images/news-meri-background.jpg");
  background-size: cover;

  h3 {
    margin-top: 0;
  }

  .views-more-link {
    float: right;
    margin-top: 20px;
  }

  @include breakpoint($pair){
    background-image: url("../images/news-meri-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;

    h2 {
      color: white;
      -webkit-text-stroke: transparent;
      text-align: center;
      margin-left: 0px;
      text-shadow: 4px 4px 20px black;
    }
  }

  @include breakpoint($desktop){
    background-image: url("../images/news-meri-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 610px;

    h2 {
      color: white;
      text-shadow: 4px 4px 20px black;
      margin: 25px 5px 0.55em 15px;
    }
  }

  @include breakpoint($sixty-percent-break){

    ul {
      top: 132px;
        height: 326px;
    }

  }
}

// Styles for block that contains "Featured Person" with quote
.front .wwu-40-percent-fourth-row {
  padding: 0px;
  box-sizing: border-box;
  color: $wwu-blue;
  overflow: hidden;

  .view-faculty-rotate {
    .item-list {
      display: none;
    }

    .faculty-bio-body .field-content p {
      position: relative;
      top: 302px;
      margin-left: 4.5%;
      margin-right: 4.5%;
      background-color: rgba(255, 255, 255, 0.7);
      color: $wwu-blue;
      padding: 70px 30px 30px 30px;
      box-sizing: border-box;
      text-shadow: 4px 4px 18px white;
    }

    #flexslider-1, .flexslider {
      padding: 0px;
      margin: 0px;
      box-shadow: none;
      border: 0;

      ul.slides {
        background-color: transparent;

        li .field-photo {
          position: absolute;
          top: 0px;
          z-index: -1;
          float: none;
          padding: 0px;
        }
      }
    }


    .faculty-name {
      padding-left: 48.8px;
      z-index: 1;
      position: absolute;
      top: 328px;


      .field-content a  {
        font-size: 30px;
        font-family: 'open sans';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        color: $wwu-blue;
        text-shadow: 4px 4px 20px white;
      }

    }
  }

  @include breakpoint($forty-percent-break){
    overflow: hidden;

    .flexslider .slides img {
      width: inherit;
    }
    img {
      max-width: none;
    }
    .view-faculty-rotate .faculty-name{
      top: 288px;
    }

    .view-faculty-rotate .faculty-bio-body .field-content p {
      top: 262px;
      height: 326px;
    }
  }

  @include breakpoint($pair){
    overflow: hidden;
    max-height: 26em;

    .view-faculty-rotate  {
      .faculty-bio-body .field-content p {
        margin: 30px;
        height: auto;
        top: 62px;
      }
      .faculty-name {
        padding-left: 30px;
        margin-left: 30px;
        top: 120px;
      }
    }
  }
}
