@import '../../../modules/breakpoints';
@import 'breakpoint';
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.front main {
  background: white;
}

.front h2 {
  font-family: 'open sans';
  font-weight: 700;
  margin-top: 25px;
  text-align: left;
  margin-left: 30px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: $wwu-blue;
}

.front h2.pane-title {
  @include breakpoint($pair) {
    font-size: 2.05em;
  }
  @include breakpoint($desktop) {
    font-size: 4em;
  }
}

// Remove pane's border in lieu of panel border.
.front .wwu-100-percent-bottom .pane-custom {
  border: 0;
}

// Remove 4th row, left pane's border in lieu panel's
.front .wwu-60-percent-fourth-row > div > div {
  border: none;
}

// Makes panel's width the same as header's width
.front main {
  width: 100%;
  margin: 0;
}

// Gets rid of the page's little sliver of an area for it's title.
.front main .page-title {
  margin: 0;
  padding: 0;
  border: 0;
}

// Makes nav menu items not appear to have their
// bottoms cut off.
#main-menu {
  line-height: 1em;
}
