.tagline {
  font-size: 1.5em;
  font-weight: bold;
}

p.lightbox,
.lightbox {
  a {
    color: $wwu-blue;
  }
  @include breakpoint($pair) {
    padding: 30px;
    background-color: transparentize(white, 0.3);;
    margin: 30px;
  }
  @include breakpoint($desktop) {
    width: 94%;
    margin: 30px auto;
    background-color: transparentize(white, 0.3);;
    padding: 30px;
    box-sizing: border-box;
  }
}

.pane-title {
  text-transform: uppercase;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
