// Styles for 2nd row Opportunity Box
.front .wwu-100-percent-second-row {
  min-height: 26em;
  background-image: url("../images/meri-opportunities.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  .opportunity-grid {
    position: relative;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .views-row-first {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .field-content {
        display: block;
        max-width: 168px;
      }
    }
  }

  img {
    border: .8em outset rgba(255, 255, 255, .5);
  }

  .views-column-1 .field-content {
    a {
      color: white;
    }
  }


  @for $i from 1 through 3 {
     .views-column-#{$i} .views-field-title a {
      color: white;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 2px 2px 15px black;
    }
  }

  h2 {
    color: white;
  }

  .view-opportunity-listing .views-field.views-field-title {
    padding: 0px;
    text-align: center;
  }

  @include breakpoint($opportunity-break) {
    min-height: 26em;

    .views-responsive-grid .views-row .views-column {
      padding: 0px;
      padding-right: 10px;
    }

    .opportunity-grid {
      width: 550px;
      top: 40px;

      .views-row-first {
        flex-flow: row nowrap;
      }
    }

    h2 {
      text-shadow: 4px 4px 20px black;
    }

  }

  @include breakpoint ($opportunity-mobile) {
    min-height: 26em;

    .opportunity-grid {
      width: 180px;
      padding-top: 1.5em;
    }

    .views-responsive-grid .views-row .views-column {
      padding: 0px 0px 30px 0px;
    }

    .pane-custom {
      width: 275px;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }

    h2 {
      text-align: center;
      margin-left: 0px;
      text-shadow: 4px 4px 20px black;
    }

  }

  @include breakpoint($pair) {
    min-height: 26em;
    padding: 5px;

    .opportunity-grid {
      padding-bottom: 1.5em;
    }

    h2 {
      -webkit-text-stroke: transparent;
      color: white;
      text-align: center;
      margin-left: 0px;
      text-shadow: 4px 4px 20px black;
    }

  }

  @include breakpoint($desktop) {
    min-height: 26em;

    h2 {
      text-shadow: 4px 4px 20px black;
    }
  }
}
