// Styles for 3rd row
.front .wwu-40-percent-third-row {
  box-sizing: border-box;
  background-color: transparentize(white, 0.3);;
  color: $wwu-blue;

  .more-link {
    display: none;
  }

  @include breakpoint($pair) {
    background-image: url("../images/about-pane.jpg");
    background-size: cover;
    padding: 5px;
    min-height: 26em;

    h2 {
      color: white;
      -webkit-text-stroke: transparent;
      text-align: center;
      margin-left: 0px;
      text-shadow: 4px 4px 20px black;
    }

    ul {
      padding: 30px 30px 30px 40px;
      background-color: transparentize(white, 0.3);;
      list-style-type: square;
      color: $wwu-blue;
      margin: 30px;

      li a{
        color: $wwu-blue;
      }

      li a:hover {
        color: $wwu-light-blue;
      }
    }
  }

  @include breakpoint($desktop) {
    min-height: 26em;
    background-image: url("../images/about-pane.jpg");
    box-sizing: border-box;
    background-color: transparentize(white, 0.3);
    background-size: cover;

    h2 {
      color: white;
      text-shadow: 4px 4px 20px black;
    }

    ul {
      width: 100%;
      position: relative;
      width: 95%;
      margin: 30px auto;
      background-color: transparentize(white, 0.3);
      color: $wwu-blue;
      list-style-type: square;
      padding: 30px 30px 30px 40px;
      box-sizing: border-box;

      li a{
        color: $wwu-blue;
      }

      li a:hover {
        color: $wwu-light-blue;
      }
    }
  }
}

.wwu-60-percent-third-row {
  background-image: url("../images/gray-mountain-bg.jpg");
  background-size: cover;
  display: grid;
  align-content: center;
  padding: 0 10px 10px;

  h2 {
    @include breakpoint($pair) {
      -webkit-text-stroke: transparent;
    }
    color: white;
    text-align: center;
    margin-left: 0px;
    text-shadow: 4px 4px 20px black;
  }
}
