/*Hide the sitename except for screen-readers.*/
.site-name {
position: absolute !important;
 clip: rect(1px, 1px, 1px, 1px);
 overflow: hidden;
 height: 1px;
 width: 1px;
 word-wrap: normal;
}

.site-name:active,
.site-name:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
}
