.view-opportunity-listing .views-field.views-field-title {
  padding-left: 1em;
}


// Styling for faculty-static-view
.faculty-static-view {

  .field-photo {
  float: right;
  padding-left: 15px;
  }

  .views-field-title-1 {
  font-size: 24px;
  padding-bottom: .5em;
  }

  .views-row {
    clear: both;
    overflow: auto;
    padding-bottom: 2em;
  }

}

.field-photo {
float: right;
padding-left: 15px;
}

  @include breakpoint($faculty-static-mobile) {
    .faculty-static-view {
      .field-photo {
      float: left;
      padding-left: 0px;
      }
    }
  }
