$tablet: 321px;
$pair: 0px 800px;
$desktop: 801px;

// Custom break points for into box
$intro-break:  480px 700px;

// Custom break points for opportunity box
$opportunity-mobile: 0px 560px;
$opportunity-break: 561px 710px;

// Custom break points for featured person aka 40% box
$forty-percent-mobile: 0px 660px;
$forty-percent-break: 801px 1079px;

// Custom break points for 60% News box
$sixty-percent-break: 800px 1079px;

// Custom break points for connect box aka "Social Media"
$connect-mobile: 0px 400px;
$connect-break: 401px 521px;
$connect-break2: 522px 799px;


//Faculty Static View Breakpoint
$faculty-static-mobile: 0px 300px;
